html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0c0101;
}

.navbar{
    /* background-color: aliceblue; */
    position: absolute;
    z-index: 1;
    height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    top: 0;
    left: 20px;
    margin-top: 0;
    padding-top: 0;
    /* margin-left: 20px; */
    justify-content: space-between;
}

.logo{
    position: absolute;
    left: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.menu{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo > p{
    margin: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

.nav-logo{
    width: 250px;
    height: 250px;
}

.menu > p{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

.main-body{
    display: flex;
    gap: 0;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.main-body > div{
    margin: 0px;
    padding: 0px;
}

.main-body > div > img{
    margin: 0px;
    padding: 0px;
    object-fit: fill;
    object-position: center;
    width: 100%;

}

.section1{
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    background-image: url("icons/spacex-1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
 
    margin-top: 10em;
    position: relative;
    

}

.content{

    position: absolute;
    bottom: 40px;
    left: 100px;

    /* padding: 50px; */
}

.content > p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}


.content > h2 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}

.content > button{
   
    background: none;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    width: 100px;
    border-color: rgb(255, 255, 255);
}


.section2{
    width: 100%;
    height: 100vh;
    background-image: url("icons/spacex-2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}


.section3{
    width: 100%;
    height: 100vh;
    background-image: url("icons/spacex-3.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}



.section4{
    width: 100%;
    height: 100vh;
    background-image: url("icons/spacex-4.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}


.section5{
    width: 100%;
    height: 100vh;
    background-image: url("icons/spacex-5.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

footer{
    height: 200px;
    background-color: #0c0101;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;

}

footer > p{
    padding: 5px;
    color: rgb(255, 255, 255);
}

footer > a{
    color: rgb(255, 255, 255);
    padding: 5px;
}